@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
    margin: 0 auto;
}

.navigation-list {
    width: 400px;
}

.navigation-user {
    text-align: right;
}

.main-contaner {
  flex-grow: 1;
}

.navigation-link {
  font-size: 20px;
  font-weight: bold;
  color: black;
  line-height: 26px;
}

.tagline {
  background-image: url(../images/background/index-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  text-align: center;
}

.mailing-index {
  background-image: url(../images/background/background-footer.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
}

.catalog-products {
  background-image: url(../images/background/catalog-background.jpg);
  background-repeat: no-repeat;
}

.navigation {
   display: flex;

}

.navigation-item {
  display: inline-block;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.advantages-list {
  outline: 5px solid blue;
  outline-offset: -5px;
  
}

.recommend-list {
  outline: 5px solid red;
  outline-offset: -5px;
  display: inline-block;
  width: 400px;
  height: 384px;
  margin: 0;
}

.city {
  width: 400px;
  display: inline;
}

.li {
  display: inline-block;
  width: 400px;
}

.ul {
  margin: 0;
}

.recommend {
  
  display: inline-block;
}

.advantages {
  

}

.advantages-img {
  display: inline-block;
  margin: 0;
  padding: 0;
}


.mailing-index {
  display: inline-block;
}


.page-footer {
  display: flex;
}