@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
  margin: 0 auto;
}

.navigation-list {
  width: 400px;
}

.navigation-user {
  text-align: right;
}

.main-contaner {
  flex-grow: 1;
}

.navigation-link {
  font-size: 20px;
  font-weight: bold;
  color: black;
  line-height: 26px;
}

.tagline {
  background-image: url(../images/background/index-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  text-align: center;
}

.mailing-index {
  background-image: url(../images/background/background-footer.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
}

.catalog-products {
  background-image: url(../images/background/catalog-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
}

.navigation {
  display: flex;
}

.navigation-item {
  display: inline-block;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

}

.reccomend-item {
  display: inline-block;
  width: 400px;
  margin: 0;
}

.advantages-content {
  box-sizing: border-box;
  text-align: center;
  padding: 98px 75px 40px 75px;
  min-height: 384px;
  width: 400px;
}

.blue {
  
  color: white;
  background-color: #81B3D2;
  padding-left: 90px;
  padding-right: 90px;
}

.middle-blue {
  background-color:rgba(131, 179, 211, 0.2)
}

.light-blue {
  
  background-color: #83B3D31F;
}


.recommend {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.advantages-img {
  display: inline-block;
  margin: 0;
  padding: 0;
}


.mailing-index {
  display: inline-block;
}


.page-footer {
  display: flex;
}


.search {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.div-search {}

.text-searh {
  text-transform: uppercase;
  size: 30px;
  font-weight: bold;
}

.text-search-second {
  width: 720px;
  height: 37px;
  size: 22px;
  text-align: center;
  margin-left: 240px;
  margin-right: 240px;
}

.search-button {
  width: 575px;
  height: 60px;
  background-color: #756257;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  size: 20px;
}


.mailing-index {
  display: block;


}

.text-index {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.text-index-second {
  size: 22px;
  color: white;
  text-align: center;
}

.index-form {
  width: 800px;
  height: 60px;
  display: flex;
  margin: 0 auto;
}

.index-input {
  width: 592px;
  height: 60px;

}

.index-bottom {
  color: white;
  background-color: #83b3d3;
  width: 200px;
  height: 61px;
  text-transform: uppercase;
  font-weight: bold;

}

.page-footer {
  display: flex;
}

.footer-social-item {
  display: inline-block;
}

.footer-phone {
  margin: 0 auto;
  width: 720px;
  size: 40px;
  border: 5px solid red;
  text-align: center;
}




.footer-social {
  width: 240px;
  margin-right: 72px;
  border: 5px solid red;
}

.footer-logo-box {
  width: 200px;
  margin-left: 72px;
  border: 5px solid red;

}

.product-card-gallery {
  margin: 0 72px;
}

.product-card {
  display: flex;
  border: tomato solid 2px;
}

.product-card-image {
  display: block;
}

.product-card-hotel {
  display: block;
  border: rgb(37, 218, 52) solid 2px;
  margin-left: 37px;
}

.product-card-star {
  border: steelblue solid 2px;
  margin-left: auto;
  margin-right: 72px;
}

.product-card-price {
  border: black solid 2px;
}

.product-card-details {
  border: orange solid 2px;
}

.product-card-details-loading {
  background-color: #83b3d3;
  border-radius: 4px;
  color: white;
  width: 625px;
  height: 55px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-catalog-text {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.home-page {
  color: white;

}

.catalog-menu {
  display: flex;
  border: violet 2px solid;
  width: 111px;
  height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-around;
}

.catalog-header {
  color: white;
}

.control {
  display: block;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: unset;
}

.catalog-filter-group,
.prise-filter {
  width: 287px;
  height: 148px;
}

.catalog-filter-group,
.infrastructure {
  width: 150px;
  height: 151px;
}

.catalog-filter-group,
.type-house {
  width: 145px;
  height: 151px;
}

.visualli-hidden {
  margin: 0;
}

.sorting-product {
  display: flex;
  width: 1057px;
  height: 48px;
  margin-left: 71px;
  margin-right: 72px;
}

.sorting-product-text {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.mailin-catalog {
  text-align: center;
  width: 800px;
  height: 224px;
  border: yellowgreen solid 2px;
  margin: 0 auto;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: olive 2px solid;
}

.pagination-item {
  margin: 2px;
  background-color: #83B3D3;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  color: white;
}

.number-page {
  margin-left: auto;
  border: springgreen 2px solid;
  display: flex;
}

.advantages-section-text {
  text-align: center;
  font-size: 30px;
  font-family: PT Sans;
  font-weight: 700;
  vertical-align: top;
  font-style: bold;
  line-height: 36px;
  line-height: 93%;
  text-transform: uppercase;
}

.advantages-section-text-second {
  font-family: PT Sans;
  font-style: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-list-text-one,
.reccomend-item-text-one {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}
