@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background-color: #83b3d3;
  border-radius: 4px;
  border: none;
  width: 160px;
  padding: 9px 0 10px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.button-dark {
  background-color: #756257;
  width: 151px;
}

.button-want {
  width: 160px;

}

.button-filter {
  padding: 14px 0 14px 0;

}

.button-search {
  width: 575px;
  padding: 12px 0 12px 0;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.button-favorite {
  background-color: #7db54f;
}

.button-loading {
  width: 625px;
  padding: 14px 0 14px 0;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  line-height: 26px;
}

.pagination-item {
  margin: 0 4px;
}


.button-number {
  width: 55px;
  padding: 14px 0 14px 0;
  font-size: 20px;
  line-height: 26px;
}

.button-active {
  background-color: #f2f2f2;
  color: black;
}



.button-submit {
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  padding: 17px 0 17px 0;
}

.button-number-text {
  color: #FFFFFF;
}

.pagination-wrap {
  display: flex;

}

.index-bottom {
  width: 200px;
  padding: 17px 0 17px 0;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}


.header-logo {
  margin: 0 auto;
  margin-bottom: -5px;
}

.header-logo-img {
  display: block;
}

.navigation-list {
  width: 400px;
}

.navigation-user {
  text-align: right;
}

.navigation-link {
  text-decoration: none;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 19px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: black;

}

.main-contaner {
  flex-grow: 1;
}

.tagline {
  padding: 51px 51px 82px;
  box-sizing: border-box;
  background-image: url(../images/background/index-background.jpg);
  background-repeat: no-repeat;
  background-color: #4b7195;
  background-size: cover;
  min-height: 485px;
  text-align: center;
}

.mailing-index {
  background-image: url(../images/background/background-footer.jpg);
  background-repeat: no-repeat;
  min-height: 411px;
}

.catalog-products {
  background-color: #60575a;
  background-image: url(../images/background/catalog-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 408px;
  color: white;
}

.navigation {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
}

.navigation-item {
  display: inline-block;
}

.navigation-list {
  margin: 0 0 0 -16px;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card-info {
  display: grid;
  grid-template-columns: 161px 161px;
  grid-template-rows: max-content;
}

.product-card-link {
  margin: auto 37px auto 72px;
}

.product-card-title {
  grid-column: 1/3;
  margin-top: 28px;
  margin-bottom: 1px;
  /* растянуть на две колонки */
}

.button,
.product-card-price {
  grid-column: 2/3;
  font-weight: normal;
  line-height: 23px;
  margin-bottom: 31px;
}

.button-dark,
.product-card-title-type {
  grid-column: 1/2;
  margin: 1px 8px 31px 0;
}

.product-rating {
  margin-left: auto;
}

.reccomend-item {
  display: inline-block;
  width: 400px;
  margin: 0;
}

.advantages-content {
  box-sizing: border-box;
  text-align: center;
  padding: 98px 75px 40px 75px;
  min-height: 384px;
  width: 400px;
}

.blue {
  color: white;
  background-color: #81B3D2;
  padding-left: 90px;
  padding-right: 90px;
}

.middle-blue {
  background-color: rgba(131, 179, 211, 0.2)
}

.light-blue {
  background-color: #83B3D31F;
}

.recommend {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-img {
  display: inline-block;
  margin: 0;
  padding: 0;
}


.mailing-index {
  display: inline-block;
}

.page-footer {
  display: flex;
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-searсh {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.text-search-second {
  width: 720px;
  font-size: 22px;
  text-align: center;
  margin: 15px auto 73px auto;
  font-weight: normal;
  line-height: 26px;
}


.mailing-index {
  display: block;
}

.text-index {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.text-index-second {
  font-size: 22px;
  line-height: 26px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.index-form {
  width: 800px;
  min-height: 60px;
  display: flex;
  margin: 0 auto;
}

.index-input {
  width: 592px;
  min-height: 60px;
}

.page-footer {
  display: flex;
}

.footer-social-item {
  display: inline-block;
}

.footer-phone {
  font-weight: normal;
  margin: 0 auto;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-social {
  width: 240px;
  margin-right: 72px;
}

.footer-logo-box {
  width: 200px;
  margin-left: 72px;
}

.product-card-gallery {
  margin: 0 72px;
}

.product-card {
  display: flex;
  border: tomato solid 2px;
}

.product-card-image {
  display: block;
}

.product-card-hotel {
  display: block;
  border: rgb(37, 218, 52) solid 2px;
  margin-left: 37px;
}

.product-card-star {
  border: steelblue solid 2px;
  margin-left: auto;
  margin-right: 72px;
}

.product-card-button-favorite {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  box-sizing: 4px;
}

.main-catalog-text {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.main-catalog-text-small {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.home-page {
  color: white;

}

.catalog-menu {
  display: flex;
  border: violet 2px solid;
  width: 111px;
  min-height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-around;
}

.control {
  display: block;
  font-weight: normal;
  line-height: 23px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: unset;
}

.catalog-filter-group,
.prise-filter {
  width: 287px;
  min-height: 148px;
}

.catalog-filter-group,
.infrastructure {
  width: 150px;
  min-height: 151px;
}

.catalog-filter-group,
.type-house {
  width: 145px;
  min-height: 151px;
}

.sorting-product {
  display: flex;
  width: 1057px;
  min-height: 48px;
  margin-left: 71px;
  margin-right: 72px;
}

.sorting-product-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
}

.select-control-choice {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
}

.product-card-title-type {
  font-weight: normal;
  line-height: 23px;
}

.mailin-catalog {
  text-align: center;
  width: 800px;
  min-height: 224px;
  border: yellowgreen solid 2px;
  margin: 0 auto;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: olive 2px solid;
}

.number-page {
  margin-left: auto;
  border: springgreen 2px solid;
  display: flex;
}

.advantages-section-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
}

.advantages-section-text-second {
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-list-text-one,
.reccomend-item-text-one {
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 24px;
}

.advantages-list-text {
  font-weight: normal;
  line-height: 21px;
}

.reccomend-item-text-second {
  font-weight: normal;
  line-height: 21px;
}
